package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.AppClipDefaultExperienceCreateRequest;
import net.odyssi.asc4j.model.AppClipDefaultExperienceReleaseWithAppStoreVersionLinkageRequest;
import net.odyssi.asc4j.model.AppClipDefaultExperienceUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appClipDefaultExperiences")

public interface AppClipDefaultExperiencesApi {

	/**
	 * Create a Default App Clip Experience
	 *
	 * Configure a new default App Clip experience.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createDefaultAppClipExperience(
			AppClipDefaultExperienceCreateRequest appClipDefaultExperienceCreateRequest);

	/**
	 * Delete a Default App Clip Experience
	 *
	 * Delete a specific default App Clip experience.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response deleteDefaultAppClipExperience(@PathParam("id") String id);

	/**
	 * Get the App Store Versions Resource ID for a Default App Clip Experience
	 *
	 * Get IDs for App Store Versions related to a default App Clip experience.
	 *
	 */
	@GET
	@Path("/{id}/relationships/releaseWithAppStoreVersion")
	@Produces({ "application/json" })

	public Response getDefaultAppClipExperienceAppStoreVersionIDs(@PathParam("id") String id);

	/**
	 * Modify a Default App Clip Experience
	 *
	 * Update a default App Clip experience.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyDefaultAppClipExperience(@PathParam("id") String id,
			AppClipDefaultExperienceUpdateRequest appClipDefaultExperienceUpdateRequest);

	/**
	 * Modify the Related App Store Version for a Default App Clip Experience
	 *
	 * Update the relationship between a default App Clip experience and an App
	 * Store Version.
	 *
	 */
	@PATCH
	@Path("/{id}/relationships/releaseWithAppStoreVersion")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyDefaultAppClipExperienceAppStoreVersion(@PathParam("id") String id,
			AppClipDefaultExperienceReleaseWithAppStoreVersionLinkageRequest appClipDefaultExperienceReleaseWithAppStoreVersionLinkageRequest);

	/**
	 * Read Default App Clip Experience Information
	 *
	 * Get a specific default App Clip experience.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readDefaultAppClipExperience(@PathParam("id") String id,
			@QueryParam("fields[appClipDefaultExperiences]") List<String> fieldsAppClipDefaultExperiences,
			@QueryParam("include") List<String> include,
			@QueryParam("fields[appClipAppStoreReviewDetails]") List<String> fieldsAppClipAppStoreReviewDetails,
			@QueryParam("fields[appStoreVersions]") List<String> fieldsAppStoreVersions,
			@QueryParam("fields[appClipDefaultExperienceLocalizations]") List<String> fieldsAppClipDefaultExperienceLocalizations,
			@QueryParam("limit[appClipDefaultExperienceLocalizations]") Integer limitAppClipDefaultExperienceLocalizations);

	/**
	 * Read the App Store Review Detail for a Default App Clip Experience
	 *
	 * Get App Store Review details for a specific default App Clip experience.
	 *
	 */
	@GET
	@Path("/{id}/appClipAppStoreReviewDetail")
	@Produces({ "application/json" })

	public Response readDefaultAppClipExperienceAppStoreReviewDetail(@PathParam("id") String id,
			@QueryParam("fields[appClipAppStoreReviewDetails]") List<String> fieldsAppClipAppStoreReviewDetails,
			@QueryParam("fields[appClipDefaultExperiences]") List<String> fieldsAppClipDefaultExperiences,
			@QueryParam("include") List<String> include);

	/**
	 * Read App Store Version Information for a Default App Clip Experience
	 *
	 * Get App Store Version information for a default App Clip experience.
	 *
	 */
	@GET
	@Path("/{id}/releaseWithAppStoreVersion")
	@Produces({ "application/json" })

	public Response readDefaultAppClipExperienceAppStoreVersion(@PathParam("id") String id,
			@QueryParam("fields[appStoreVersionExperiments]") List<String> fieldsAppStoreVersionExperiments,
			@QueryParam("fields[ageRatingDeclarations]") List<String> fieldsAgeRatingDeclarations,
			@QueryParam("fields[appStoreVersionSubmissions]") List<String> fieldsAppStoreVersionSubmissions,
			@QueryParam("fields[appStoreReviewDetails]") List<String> fieldsAppStoreReviewDetails,
			@QueryParam("fields[appStoreVersions]") List<String> fieldsAppStoreVersions,
			@QueryParam("fields[idfaDeclarations]") List<String> fieldsIdfaDeclarations,
			@QueryParam("fields[apps]") List<String> fieldsApps,
			@QueryParam("fields[routingAppCoverages]") List<String> fieldsRoutingAppCoverages,
			@QueryParam("fields[appClipDefaultExperiences]") List<String> fieldsAppClipDefaultExperiences,
			@QueryParam("fields[appStoreVersionPhasedReleases]") List<String> fieldsAppStoreVersionPhasedReleases,
			@QueryParam("fields[builds]") List<String> fieldsBuilds,
			@QueryParam("fields[appStoreVersionLocalizations]") List<String> fieldsAppStoreVersionLocalizations,
			@QueryParam("limit[appStoreVersionLocalizations]") Integer limitAppStoreVersionLocalizations,
			@QueryParam("limit[appStoreVersionExperiments]") Integer limitAppStoreVersionExperiments,
			@QueryParam("include") List<String> include);

	/**
	 * Read Localization Information for a Default App Clip Experience
	 *
	 * Get localized metadata that appears on the App Clip card for a specific
	 * default App Clip experience.
	 *
	 */
	@GET
	@Path("/{id}/appClipDefaultExperienceLocalizations")
	@Produces({ "application/json" })

	public Response readDefaultAppClipExperienceLocalizations(@PathParam("id") String id,
			@QueryParam("filter[locale]") List<String> filterLocale,
			@QueryParam("fields[appClipDefaultExperiences]") List<String> fieldsAppClipDefaultExperiences,
			@QueryParam("fields[appClipDefaultExperienceLocalizations]") List<String> fieldsAppClipDefaultExperienceLocalizations,
			@QueryParam("fields[appClipHeaderImages]") List<String> fieldsAppClipHeaderImages,
			@QueryParam("limit") Integer limit, @QueryParam("include") List<String> include);
}
