package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.AppCustomProductPageVersionCreateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appCustomProductPageVersions")

public interface AppCustomProductPageVersionsApi {

	@GET
	@Path("/{id}/appCustomProductPageLocalizations")
	@Produces({ "application/json" })

	public Response appCustomProductPageVersionsAppCustomProductPageLocalizationsGetToManyRelated(
			@PathParam("id") String id, @QueryParam("filter[locale]") List<String> filterLocale,
			@QueryParam("fields[appScreenshotSets]") List<String> fieldsAppScreenshotSets,
			@QueryParam("fields[appCustomProductPageLocalizations]") List<String> fieldsAppCustomProductPageLocalizations,
			@QueryParam("fields[appCustomProductPageVersions]") List<String> fieldsAppCustomProductPageVersions,
			@QueryParam("fields[appPreviewSets]") List<String> fieldsAppPreviewSets, @QueryParam("limit") Integer limit,
			@QueryParam("limit[appScreenshotSets]") Integer limitAppScreenshotSets,
			@QueryParam("limit[appPreviewSets]") Integer limitAppPreviewSets,
			@QueryParam("include") List<String> include);

	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response appCustomProductPageVersionsCreateInstance(
			AppCustomProductPageVersionCreateRequest appCustomProductPageVersionCreateRequest);

	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response appCustomProductPageVersionsGetInstance(@PathParam("id") String id,
			@QueryParam("fields[appCustomProductPageVersions]") List<String> fieldsAppCustomProductPageVersions,
			@QueryParam("include") List<String> include,
			@QueryParam("fields[appCustomProductPageLocalizations]") List<String> fieldsAppCustomProductPageLocalizations,
			@QueryParam("limit[appCustomProductPageLocalizations]") Integer limitAppCustomProductPageLocalizations);
}
