package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.AppClipHeaderImageCreateRequest;
import net.odyssi.asc4j.model.AppClipHeaderImageUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appClipHeaderImages")

public interface AppClipHeaderImagesApi {

	/**
	 * Create an App Clip Card Image for a Default App Clip Experience
	 *
	 * Reserve an image asset that appears on the App Clip card of a default App
	 * Clip experience.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createDefaultAppClipExperienceAppClipCardImage(
			AppClipHeaderImageCreateRequest appClipHeaderImageCreateRequest);

	/**
	 * Delete a Default App Clip Experience Image
	 *
	 * Delete the image asset that appears on the App Clip card for a default App
	 * Clip experience.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response deleteDefaultAppClipExperienceImage(@PathParam("id") String id);

	/**
	 * Modify an App Clip Card Image
	 *
	 * Change the image that appears on the App Clip card of a default App Clip
	 * experience.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyAppClipCardImage(@PathParam("id") String id,
			AppClipHeaderImageUpdateRequest appClipHeaderImageUpdateRequest);

	/**
	 * Read the App Clip Card Image
	 *
	 * Get the image that appears on the App Clip card of a default App Clip
	 * experience.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readAppClipCardImage(@PathParam("id") String id,
			@QueryParam("fields[appClipHeaderImages]") List<String> fieldsAppClipHeaderImages,
			@QueryParam("include") List<String> include);
}
