package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appCategories")

public interface AppCategoriesApi {

	/**
	 * List App Categories
	 *
	 * List all categories on the App Store, including the category and subcategory
	 * hierarchy.
	 *
	 */
	@GET

	@Produces({ "application/json" })

	public Response listAppCategories(@QueryParam("filter[platforms]") List<String> filterPlatforms,
			@QueryParam("exists[parent]") List<String> existsParent,
			@QueryParam("fields[appCategories]") List<String> fieldsAppCategories, @QueryParam("limit") Integer limit,
			@QueryParam("include") List<String> include,
			@QueryParam("limit[subcategories]") Integer limitSubcategories);

	/**
	 * List All Subcategories for an App Category
	 *
	 * List all App Store subcategories that belong to a specific category.
	 *
	 */
	@GET
	@Path("/{id}/subcategories")
	@Produces({ "application/json" })

	public Response listAppSubcategories(@PathParam("id") String id,
			@QueryParam("fields[appCategories]") List<String> fieldsAppCategories, @QueryParam("limit") Integer limit);

	/**
	 * Read App Category Information
	 *
	 * Get a specific app category.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readAppCategory(@PathParam("id") String id,
			@QueryParam("fields[appCategories]") List<String> fieldsAppCategories,
			@QueryParam("include") List<String> include,
			@QueryParam("limit[subcategories]") Integer limitSubcategories);

	/**
	 * Read the Parent Information of an App Category
	 *
	 * Get the App Store category to which a specific subcategory belongs.
	 *
	 */
	@GET
	@Path("/{id}/parent")
	@Produces({ "application/json" })

	public Response readAppCategoryParent(@PathParam("id") String id,
			@QueryParam("fields[appCategories]") List<String> fieldsAppCategories);
}
