package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appClips/{id}")

public interface AppClipsApi {

	/**
	 * List All Advanced App Clip Experiences for an App Clip
	 *
	 * Get all advanced App Clip experiences for an App Clip.
	 *
	 */
	@GET
	@Path("/appClipAdvancedExperiences")
	@Produces({ "application/json" })

	public Response listAppClipAdvancedAppClipExperiences(@PathParam("id") String id,
			@QueryParam("filter[action]") List<String> filterAction,
			@QueryParam("filter[placeStatus]") List<String> filterPlaceStatus,
			@QueryParam("filter[status]") List<String> filterStatus,
			@QueryParam("fields[appClipAdvancedExperiences]") List<String> fieldsAppClipAdvancedExperiences,
			@QueryParam("fields[appClips]") List<String> fieldsAppClips,
			@QueryParam("fields[appClipAdvancedExperienceImages]") List<String> fieldsAppClipAdvancedExperienceImages,
			@QueryParam("fields[appClipAdvancedExperienceLocalizations]") List<String> fieldsAppClipAdvancedExperienceLocalizations,
			@QueryParam("limit") Integer limit, @QueryParam("limit[localizations]") Integer limitLocalizations,
			@QueryParam("include") List<String> include);

	/**
	 * List All Default App Clip Experiences for an App Clip
	 *
	 * Get all default App Clip experiences for an App Clip.
	 *
	 */
	@GET
	@Path("/appClipDefaultExperiences")
	@Produces({ "application/json" })

	public Response listAppClipDefaultAppClipExperiences(@PathParam("id") String id,
			@QueryParam("exists[releaseWithAppStoreVersion]") List<String> existsReleaseWithAppStoreVersion,
			@QueryParam("fields[appClips]") List<String> fieldsAppClips,
			@QueryParam("fields[appClipAppStoreReviewDetails]") List<String> fieldsAppClipAppStoreReviewDetails,
			@QueryParam("fields[appStoreVersions]") List<String> fieldsAppStoreVersions,
			@QueryParam("fields[appClipDefaultExperiences]") List<String> fieldsAppClipDefaultExperiences,
			@QueryParam("fields[appClipDefaultExperienceLocalizations]") List<String> fieldsAppClipDefaultExperienceLocalizations,
			@QueryParam("limit") Integer limit,
			@QueryParam("limit[appClipDefaultExperienceLocalizations]") Integer limitAppClipDefaultExperienceLocalizations,
			@QueryParam("include") List<String> include);

	/**
	 * Read App Clip Information
	 *
	 * Get a specific App Clip.
	 *
	 */
	@GET

	@Produces({ "application/json" })

	public Response readAppClip(@PathParam("id") String id, @QueryParam("fields[appClips]") List<String> fieldsAppClips,
			@QueryParam("include") List<String> include,
			@QueryParam("fields[appClipAdvancedExperiences]") List<String> fieldsAppClipAdvancedExperiences,
			@QueryParam("fields[appClipDefaultExperiences]") List<String> fieldsAppClipDefaultExperiences,
			@QueryParam("limit[appClipDefaultExperiences]") Integer limitAppClipDefaultExperiences);
}
