package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.AppEventCreateRequest;
import net.odyssi.asc4j.model.AppEventUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appEvents")

public interface AppEventsApi {

	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response appEventsCreateInstance(AppEventCreateRequest appEventCreateRequest);

	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response appEventsDeleteInstance(@PathParam("id") String id);

	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response appEventsGetInstance(@PathParam("id") String id,
			@QueryParam("fields[appEvents]") List<String> fieldsAppEvents, @QueryParam("include") List<String> include,
			@QueryParam("fields[appEventLocalizations]") List<String> fieldsAppEventLocalizations,
			@QueryParam("limit[localizations]") Integer limitLocalizations);

	@GET
	@Path("/{id}/localizations")
	@Produces({ "application/json" })

	public Response appEventsLocalizationsGetToManyRelated(@PathParam("id") String id,
			@QueryParam("fields[appEventScreenshots]") List<String> fieldsAppEventScreenshots,
			@QueryParam("fields[appEventVideoClips]") List<String> fieldsAppEventVideoClips,
			@QueryParam("fields[appEventLocalizations]") List<String> fieldsAppEventLocalizations,
			@QueryParam("fields[appEvents]") List<String> fieldsAppEvents, @QueryParam("limit") Integer limit,
			@QueryParam("limit[appEventScreenshots]") Integer limitAppEventScreenshots,
			@QueryParam("limit[appEventVideoClips]") Integer limitAppEventVideoClips,
			@QueryParam("include") List<String> include);

	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response appEventsUpdateInstance(@PathParam("id") String id, AppEventUpdateRequest appEventUpdateRequest);
}
