package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.AppInfoUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appInfos/{id}")

public interface AppInfosApi {

	/**
	 * List All App Info Localizations for an App Info
	 *
	 * Get a list of localized, app-level information for an app.
	 *
	 */
	@GET
	@Path("/appInfoLocalizations")
	@Produces({ "application/json" })

	public Response listAppInfoLocalizations(@PathParam("id") String id,
			@QueryParam("filter[locale]") List<String> filterLocale,
			@QueryParam("fields[appInfos]") List<String> fieldsAppInfos,
			@QueryParam("fields[appInfoLocalizations]") List<String> fieldsAppInfoLocalizations,
			@QueryParam("limit") Integer limit, @QueryParam("include") List<String> include);

	/**
	 * Modify an App Info
	 *
	 * Update the App Store categories and sub-categories for your app.
	 *
	 */
	@PATCH

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyAppInfo(@PathParam("id") String id, AppInfoUpdateRequest appInfoUpdateRequest);

	/**
	 * Read App Info Information
	 *
	 * Read App Store information including your App Store state, age ratings,
	 * Brazil age rating, and kids&#39; age band.
	 *
	 */
	@GET

	@Produces({ "application/json" })

	public Response readAppInfo(@PathParam("id") String id, @QueryParam("fields[appInfos]") List<String> fieldsAppInfos,
			@QueryParam("include") List<String> include,
			@QueryParam("fields[ageRatingDeclarations]") List<String> fieldsAgeRatingDeclarations,
			@QueryParam("fields[appInfoLocalizations]") List<String> fieldsAppInfoLocalizations,
			@QueryParam("fields[appCategories]") List<String> fieldsAppCategories,
			@QueryParam("limit[appInfoLocalizations]") Integer limitAppInfoLocalizations);

	@GET
	@Path("/ageRatingDeclaration")
	@Produces({ "application/json" })

	public Response readAppInfoAgeRatingDeclaration(@PathParam("id") String id,
			@QueryParam("fields[ageRatingDeclarations]") List<String> fieldsAgeRatingDeclarations);

	/**
	 * Read the Primary Category Information of an App Info
	 *
	 * Get an app’s primary App Store category.
	 *
	 */
	@GET
	@Path("/primaryCategory")
	@Produces({ "application/json" })

	public Response readAppInfoPrimaryCategoryInformation(@PathParam("id") String id,
			@QueryParam("fields[appCategories]") List<String> fieldsAppCategories);

	/**
	 * Read the Primary Subcategory One Information of an App Info
	 *
	 * Get the first App Store subcategory within an app’s primary category.
	 *
	 */
	@GET
	@Path("/primarySubcategoryOne")
	@Produces({ "application/json" })

	public Response readAppInfoPrimarySubcategoryOne(@PathParam("id") String id,
			@QueryParam("fields[appCategories]") List<String> fieldsAppCategories);

	/**
	 * Read the Primary Subcategory Two Information of an App Info
	 *
	 * Get the second App Store subcategory within an app’s primary category.
	 *
	 */
	@GET
	@Path("/primarySubcategoryTwo")
	@Produces({ "application/json" })

	public Response readAppInfoPrimarySubcategoryTwo(@PathParam("id") String id,
			@QueryParam("fields[appCategories]") List<String> fieldsAppCategories);

	/**
	 * Read the Secondary Category Information of an App Info
	 *
	 * Get an app’s secondary App Store category.
	 *
	 */
	@GET
	@Path("/secondaryCategory")
	@Produces({ "application/json" })

	public Response readAppInfoSecondaryCategoryInformation(@PathParam("id") String id,
			@QueryParam("fields[appCategories]") List<String> fieldsAppCategories);

	/**
	 * Read the Secondary Subcategory One Information of an App Info
	 *
	 * Get the first App Store subcategory within an app’s secondary category.
	 *
	 */
	@GET
	@Path("/secondarySubcategoryOne")
	@Produces({ "application/json" })

	public Response readAppInfoSecondarySubcategoryOne(@PathParam("id") String id,
			@QueryParam("fields[appCategories]") List<String> fieldsAppCategories);

	/**
	 * Read the Secondary Subcategory Two Information of an App Info
	 *
	 * Get the second App Store subcategory within an app’s secondary category.
	 *
	 */
	@GET
	@Path("/secondarySubcategoryTwo")
	@Produces({ "application/json" })

	public Response readAppInfoSecondarySubcategoryTwo(@PathParam("id") String id,
			@QueryParam("fields[appCategories]") List<String> fieldsAppCategories);
}
