package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.AppInfoLocalizationCreateRequest;
import net.odyssi.asc4j.model.AppInfoLocalizationUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appInfoLocalizations")

public interface AppInfoLocalizationsApi {

	/**
	 * Create an App Info Localization
	 *
	 * Add app-level localized information for a new locale.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response appInfoLocalizationsCreateInstance(
			AppInfoLocalizationCreateRequest appInfoLocalizationCreateRequest);

	/**
	 * Delete an App Info Localization
	 *
	 * Delete an app information localization that is associated with an app.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response deleteAppInfoLocalization(@PathParam("id") String id);

	/**
	 * Modify an App Info Localization
	 *
	 * Modify localized app-level information for a particular language.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyAppInfoLocalization(@PathParam("id") String id,
			AppInfoLocalizationUpdateRequest appInfoLocalizationUpdateRequest);

	/**
	 * Read App Info Localization Information
	 *
	 * Read localized app-level information.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readAppInfoLocalization(@PathParam("id") String id,
			@QueryParam("fields[appInfoLocalizations]") List<String> fieldsAppInfoLocalizations,
			@QueryParam("include") List<String> include);
}
