package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appPricePoints")

public interface AppPricePointsApi {

	@GET

	@Produces({ "application/json" })

	public Response appPricePointsGetCollection(@QueryParam("filter[priceTier]") List<String> filterPriceTier,
			@QueryParam("filter[territory]") List<String> filterTerritory,
			@QueryParam("fields[appPricePoints]") List<String> fieldsAppPricePoints, @QueryParam("limit") Integer limit,
			@QueryParam("include") List<String> include,
			@QueryParam("fields[territories]") List<String> fieldsTerritories);

	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response appPricePointsGetInstance(@PathParam("id") String id,
			@QueryParam("fields[appPricePoints]") List<String> fieldsAppPricePoints,
			@QueryParam("include") List<String> include,
			@QueryParam("fields[territories]") List<String> fieldsTerritories);

	/**
	 * Read the Territory Information of an App Price Point
	 *
	 * Get the territory in which a specific price point applies.
	 *
	 */
	@GET
	@Path("/{id}/territory")
	@Produces({ "application/json" })

	public Response appPricePointsTerritoryGetToOneRelated(@PathParam("id") String id,
			@QueryParam("fields[territories]") List<String> fieldsTerritories);
}
