package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.AppStoreReviewDetailCreateRequest;
import net.odyssi.asc4j.model.AppStoreReviewDetailUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appStoreReviewDetails")

public interface AppStoreReviewDetailsApi {

	/**
	 * Create an App Store Review Detail
	 *
	 * Add App Store review details to an App Store version, including contact and
	 * demo account information.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createAppStoreReviewDetail(AppStoreReviewDetailCreateRequest appStoreReviewDetailCreateRequest);

	/**
	 * List All Review Attachments for an App Store Review Detail
	 *
	 * List all the App Store review attachments you include with a version when you
	 * submit it for App Review.
	 *
	 */
	@GET
	@Path("/{id}/appStoreReviewAttachments")
	@Produces({ "application/json" })

	public Response listAppStoreReviewDetailReviewAttachments(@PathParam("id") String id,
			@QueryParam("fields[appStoreReviewDetails]") List<String> fieldsAppStoreReviewDetails,
			@QueryParam("fields[appStoreReviewAttachments]") List<String> fieldsAppStoreReviewAttachments,
			@QueryParam("limit") Integer limit, @QueryParam("include") List<String> include);

	/**
	 * Modify an App Store Review Detail
	 *
	 * Update the app store review details, including the contact information, demo
	 * account, and notes.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyAppStoreReviewDetail(@PathParam("id") String id,
			AppStoreReviewDetailUpdateRequest appStoreReviewDetailUpdateRequest);

	/**
	 * Read App Store Review Detail Information
	 *
	 * Get App Review details you provided, including contact information, demo
	 * account, and notes.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readAppStoreReviewDetailInformation(@PathParam("id") String id,
			@QueryParam("fields[appStoreReviewDetails]") List<String> fieldsAppStoreReviewDetails,
			@QueryParam("include") List<String> include,
			@QueryParam("fields[appStoreReviewAttachments]") List<String> fieldsAppStoreReviewAttachments,
			@QueryParam("limit[appStoreReviewAttachments]") Integer limitAppStoreReviewAttachments);
}
