package net.odyssi.asc4j.jaxrs;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.AppStoreVersionSubmissionCreateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appStoreVersionSubmissions")

public interface AppStoreVersionSubmissionsApi {

	/**
	 * Create an App Store Version Submission
	 *
	 * Submit an App Store version to App Review.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createAppStoreVersionSubmission(
			AppStoreVersionSubmissionCreateRequest appStoreVersionSubmissionCreateRequest);

	/**
	 * Delete an App Store Version Submission
	 *
	 * Remove a version from App Store review.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response deleteAppStoreVersionSubmission(@PathParam("id") String id);
}
