package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.AppStoreVersionLocalizationCreateRequest;
import net.odyssi.asc4j.model.AppStoreVersionLocalizationUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appStoreVersionLocalizations")

public interface AppStoreVersionLocalizationsApi {

	/**
	 * Create an App Store Version Localization
	 *
	 * Add localized version-level information for a new locale.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createAppStoreVersionLocalization(
			AppStoreVersionLocalizationCreateRequest appStoreVersionLocalizationCreateRequest);

	/**
	 * Delete an App Store Version Localization
	 *
	 * Delete a language from your version metadata.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response deleteAppStoreVersionLocalization(@PathParam("id") String id);

	/**
	 * List All App Preview Sets for an App Store Version Localization
	 *
	 * List all app preview sets for a specific localization.
	 *
	 */
	@GET
	@Path("/{id}/appPreviewSets")
	@Produces({ "application/json" })

	public Response listAppStoreVersionLocalizationPreviewSets(@PathParam("id") String id,
			@QueryParam("filter[previewType]") List<String> filterPreviewType,
			@QueryParam("filter[appCustomProductPageLocalization]") List<String> filterAppCustomProductPageLocalization,
			@QueryParam("filter[appStoreVersionExperimentTreatmentLocalization]") List<String> filterAppStoreVersionExperimentTreatmentLocalization,
			@QueryParam("fields[appCustomProductPageLocalizations]") List<String> fieldsAppCustomProductPageLocalizations,
			@QueryParam("fields[appStoreVersionExperimentTreatmentLocalizations]") List<String> fieldsAppStoreVersionExperimentTreatmentLocalizations,
			@QueryParam("fields[appPreviews]") List<String> fieldsAppPreviews,
			@QueryParam("fields[appPreviewSets]") List<String> fieldsAppPreviewSets,
			@QueryParam("fields[appStoreVersionLocalizations]") List<String> fieldsAppStoreVersionLocalizations,
			@QueryParam("limit") Integer limit, @QueryParam("limit[appPreviews]") Integer limitAppPreviews,
			@QueryParam("include") List<String> include);

	/**
	 * List All App Screenshot Sets for an App Store Version Localization
	 *
	 * List all screenshot sets for a specific localization.
	 *
	 */
	@GET
	@Path("/{id}/appScreenshotSets")
	@Produces({ "application/json" })

	public Response listAppStoreVersionLocalizationScreenshotSets(@PathParam("id") String id,
			@QueryParam("filter[screenshotDisplayType]") List<String> filterScreenshotDisplayType,
			@QueryParam("filter[appCustomProductPageLocalization]") List<String> filterAppCustomProductPageLocalization,
			@QueryParam("filter[appStoreVersionExperimentTreatmentLocalization]") List<String> filterAppStoreVersionExperimentTreatmentLocalization,
			@QueryParam("fields[appScreenshotSets]") List<String> fieldsAppScreenshotSets,
			@QueryParam("fields[appCustomProductPageLocalizations]") List<String> fieldsAppCustomProductPageLocalizations,
			@QueryParam("fields[appStoreVersionExperimentTreatmentLocalizations]") List<String> fieldsAppStoreVersionExperimentTreatmentLocalizations,
			@QueryParam("fields[appScreenshots]") List<String> fieldsAppScreenshots,
			@QueryParam("fields[appStoreVersionLocalizations]") List<String> fieldsAppStoreVersionLocalizations,
			@QueryParam("limit") Integer limit, @QueryParam("limit[appScreenshots]") Integer limitAppScreenshots,
			@QueryParam("include") List<String> include);

	/**
	 * Modify an App Store Version Localization
	 *
	 * Modify localized version-level information for a particular language.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyAppStoreVersionLocalization(@PathParam("id") String id,
			AppStoreVersionLocalizationUpdateRequest appStoreVersionLocalizationUpdateRequest);

	/**
	 * Read App Store Version Localization Information
	 *
	 * Read localized version-level information.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readAppStoreVersionLocalizationInformation(@PathParam("id") String id,
			@QueryParam("fields[appStoreVersionLocalizations]") List<String> fieldsAppStoreVersionLocalizations,
			@QueryParam("include") List<String> include,
			@QueryParam("fields[appScreenshotSets]") List<String> fieldsAppScreenshotSets,
			@QueryParam("fields[appPreviewSets]") List<String> fieldsAppPreviewSets,
			@QueryParam("limit[appPreviewSets]") Integer limitAppPreviewSets,
			@QueryParam("limit[appScreenshotSets]") Integer limitAppScreenshotSets);
}
