package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.AppScreenshotCreateRequest;
import net.odyssi.asc4j.model.AppScreenshotUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/appScreenshots")

public interface AppScreenshotsApi {

	/**
	 * Create an App Screenshot
	 *
	 * Add a new screenshot to a screenshot set.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createAppScreenshot(AppScreenshotCreateRequest appScreenshotCreateRequest);

	/**
	 * Delete an App Screenshot
	 *
	 * Delete an app screenshot that is associated with a screenshot set.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response deleteAppScreenshot(@PathParam("id") String id);

	/**
	 * Modify an App Screenshot
	 *
	 * Commit an app screenshot after uploading it.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyAppScreenshot(@PathParam("id") String id,
			AppScreenshotUpdateRequest appScreenshotUpdateRequest);

	/**
	 * Read App Screenshot Information
	 *
	 * Get information about an app screenshot and its upload and processing status.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readAppScreenshotInformation(@PathParam("id") String id,
			@QueryParam("fields[appScreenshots]") List<String> fieldsAppScreenshots,
			@QueryParam("include") List<String> include);
}
