package net.odyssi.asc4j.jaxrs;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.BetaAppClipInvocationLocalizationCreateRequest;
import net.odyssi.asc4j.model.BetaAppClipInvocationLocalizationUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/betaAppClipInvocationLocalizations")

public interface BetaAppClipInvocationLocalizationsApi {

	/**
	 * Create Localized Metadata for a Beta App Clip Invocation
	 *
	 * Provide localized metadata for an App Clip experience you make available to
	 * testers.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createBetaAppClipInvocationLocalization(
			BetaAppClipInvocationLocalizationCreateRequest betaAppClipInvocationLocalizationCreateRequest);

	/**
	 * Delete a Beta App Clip Invocation Localization
	 *
	 * Delete localized metadata you configured for an App Clip that testers launch
	 * using the TestFlight app.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response deleteBetaAppClipInvocationLocalization(@PathParam("id") String id);

	/**
	 * Modify Localized Metadata of an App Clip Invocation for Testers
	 *
	 * Change the metadata for an App Clip you make available to testers in the
	 * TestFlight app.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyBetaAppClipInvocationLocalization(@PathParam("id") String id,
			BetaAppClipInvocationLocalizationUpdateRequest betaAppClipInvocationLocalizationUpdateRequest);
}
