package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.BetaAppLocalizationCreateRequest;
import net.odyssi.asc4j.model.BetaAppLocalizationUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/betaAppLocalizations")

public interface BetaAppLocalizationsApi {

	/**
	 * Modify a Beta App Localization
	 *
	 * Update the localized What’s New text for a specific app and locale.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response betaAppLocalizationsUpdateInstance(@PathParam("id") String id,
			BetaAppLocalizationUpdateRequest betaAppLocalizationUpdateRequest);

	/**
	 * Create a Beta App Localization
	 *
	 * Create localized descriptive information for an app.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createBetaAppLocalization(BetaAppLocalizationCreateRequest betaAppLocalizationCreateRequest);

	/**
	 * Delete a Beta App Localization
	 *
	 * Delete a beta app localization associated with an app.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response deleteBetaAppLocalization(@PathParam("id") String id);

	/**
	 * List Beta App Localizations
	 *
	 * Find and list beta app localizations for all apps and locales.
	 *
	 */
	@GET

	@Produces({ "application/json" })

	public Response listBetaAppLocalizations(@QueryParam("filter[locale]") List<String> filterLocale,
			@QueryParam("filter[app]") List<String> filterApp,
			@QueryParam("fields[betaAppLocalizations]") List<String> fieldsBetaAppLocalizations,
			@QueryParam("limit") Integer limit, @QueryParam("include") List<String> include,
			@QueryParam("fields[apps]") List<String> fieldsApps);

	/**
	 * Read the App Information of a Beta App Localization
	 *
	 * Get the app information associated with a specific beta app localization.
	 *
	 */
	@GET
	@Path("/{id}/app")
	@Produces({ "application/json" })

	public Response readBetaAppLocalizationAppInformation(@PathParam("id") String id,
			@QueryParam("fields[apps]") List<String> fieldsApps);

	/**
	 * Read Beta App Localization Information
	 *
	 * Get localized beta app information for a specific app and locale.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readBetaAppLocalizationInformation(@PathParam("id") String id,
			@QueryParam("fields[betaAppLocalizations]") List<String> fieldsBetaAppLocalizations,
			@QueryParam("include") List<String> include, @QueryParam("fields[apps]") List<String> fieldsApps);
}
