package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.BetaBuildLocalizationCreateRequest;
import net.odyssi.asc4j.model.BetaBuildLocalizationUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/betaBuildLocalizations")

public interface BetaBuildLocalizationsApi {

	/**
	 * Create a Beta Build Localization
	 *
	 * Create localized What’s New text for a build.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createBetaBuildLocalization(BetaBuildLocalizationCreateRequest betaBuildLocalizationCreateRequest);

	/**
	 * Delete a Beta Build Localization
	 *
	 * Delete a specific beta build localization associated with a build.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response deleteBetaBuildLocalization(@PathParam("id") String id);

	/**
	 * List Beta Build Localizations
	 *
	 * Find and list beta build localizations currently associated with apps.
	 *
	 */
	@GET

	@Produces({ "application/json" })

	public Response listBetaBuildLocalizations(@QueryParam("filter[locale]") List<String> filterLocale,
			@QueryParam("filter[build]") List<String> filterBuild,
			@QueryParam("fields[betaBuildLocalizations]") List<String> fieldsBetaBuildLocalizations,
			@QueryParam("limit") Integer limit, @QueryParam("include") List<String> include,
			@QueryParam("fields[builds]") List<String> fieldsBuilds);

	/**
	 * Modify a Beta Build Localization
	 *
	 * Update the localized What’s New text for a specific beta build and locale.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyBetaBuildLocalization(@PathParam("id") String id,
			BetaBuildLocalizationUpdateRequest betaBuildLocalizationUpdateRequest);

	/**
	 * Read the Build Information of a Beta Build Localization
	 *
	 * Get the build information for a specific beta build localization.
	 *
	 */
	@GET
	@Path("/{id}/build")
	@Produces({ "application/json" })

	public Response readBetaBuildLocalizationBuildInformation(@PathParam("id") String id,
			@QueryParam("fields[builds]") List<String> fieldsBuilds);

	/**
	 * Read Beta Build Localization Information
	 *
	 * Get a specific beta build localization resource.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readBetaBuildLocalizationInformation(@PathParam("id") String id,
			@QueryParam("fields[betaBuildLocalizations]") List<String> fieldsBetaBuildLocalizations,
			@QueryParam("include") List<String> include, @QueryParam("fields[builds]") List<String> fieldsBuilds);
}
