package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.BetaAppReviewSubmissionCreateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/betaAppReviewSubmissions")

public interface BetaAppReviewSubmissionsApi {

	/**
	 * List Beta App Review Submissions
	 *
	 * Find and list beta app review submissions for all builds.
	 *
	 */
	@GET

	@Produces({ "application/json" })

	public Response listBetaAppReviewSubmissions(@QueryParam("filter[build]") List<String> filterBuild,
			@QueryParam("filter[betaReviewState]") List<String> filterBetaReviewState,
			@QueryParam("fields[betaAppReviewSubmissions]") List<String> fieldsBetaAppReviewSubmissions,
			@QueryParam("limit") Integer limit, @QueryParam("include") List<String> include,
			@QueryParam("fields[builds]") List<String> fieldsBuilds);

	/**
	 * Read the Build Information of a Beta App Review Submission
	 *
	 * Get the build information for a specific beta app review submission.
	 *
	 */
	@GET
	@Path("/{id}/build")
	@Produces({ "application/json" })

	public Response readBetaAppReviewSubmissionBuildInformation(@PathParam("id") String id,
			@QueryParam("fields[builds]") List<String> fieldsBuilds);

	/**
	 * Read Beta App Review Submission Information
	 *
	 * Get a specific beta app review submission.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readBetaAppReviewSubmissionInformation(@PathParam("id") String id,
			@QueryParam("fields[betaAppReviewSubmissions]") List<String> fieldsBetaAppReviewSubmissions,
			@QueryParam("include") List<String> include, @QueryParam("fields[builds]") List<String> fieldsBuilds);

	/**
	 * Submit an App for Beta Review
	 *
	 * Submit an app for beta app review to allow external testing.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response submitBetaAppReview(BetaAppReviewSubmissionCreateRequest betaAppReviewSubmissionCreateRequest);
}
