package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.BetaAppReviewDetailUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/betaAppReviewDetails")

public interface BetaAppReviewDetailsApi {

	/**
	 * List Beta App Review Details
	 *
	 * Find and list beta app review details for all apps.
	 *
	 */
	@GET

	@Produces({ "application/json" })

	public Response listBetaAppReviewDetails(@QueryParam("filter[app]") List<String> filterApp,
			@QueryParam("fields[betaAppReviewDetails]") List<String> fieldsBetaAppReviewDetails,
			@QueryParam("limit") Integer limit, @QueryParam("include") List<String> include,
			@QueryParam("fields[apps]") List<String> fieldsApps);

	/**
	 * Modify a Beta App Review Detail
	 *
	 * Update the details for a specific app&#39;s beta app review.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyBetaAppReviewDetails(@PathParam("id") String id,
			BetaAppReviewDetailUpdateRequest betaAppReviewDetailUpdateRequest);

	/**
	 * Read the App Information of a Beta App Review Detail
	 *
	 * Get the app information for a specific beta app review details resource.
	 *
	 */
	@GET
	@Path("/{id}/app")
	@Produces({ "application/json" })

	public Response readBetaAppReviewDetailAppInformation(@PathParam("id") String id,
			@QueryParam("fields[apps]") List<String> fieldsApps);

	/**
	 * Read Beta App Review Detail Information
	 *
	 * Get beta app review details for a specific app.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readBetaAppReviewDetailInformation(@PathParam("id") String id,
			@QueryParam("fields[betaAppReviewDetails]") List<String> fieldsBetaAppReviewDetails,
			@QueryParam("include") List<String> include, @QueryParam("fields[apps]") List<String> fieldsApps);
}
