package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.BetaAppClipInvocationCreateRequest;
import net.odyssi.asc4j.model.BetaAppClipInvocationUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/betaAppClipInvocations")

public interface BetaAppClipInvocationsApi {

	/**
	 * Create an App Clip Invocation for Testers in TestFlight
	 *
	 * Configure a new App Clip experience that testers launch using the TestFlight
	 * app.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createBetaAppClipInvocation(BetaAppClipInvocationCreateRequest betaAppClipInvocationCreateRequest);

	/**
	 * Delete an App Clip Invocation for Testers in TestFlight
	 *
	 * Delete an App Clip invocation you make available to testers in TestFlight.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response deleteBetaAppClipInvocation(@PathParam("id") String id);

	/**
	 * Modify an App Clip Invocation You Provide to Testers
	 *
	 * Change an App Clip invocation you make available to testers in the TestFlight
	 * app.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyBetaAppClipInvocation(@PathParam("id") String id,
			BetaAppClipInvocationUpdateRequest betaAppClipInvocationUpdateRequest);

	/**
	 * Read Beta App Clip Invocation Information
	 *
	 * Get a specific App Clip invocation you configure for testing.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readBetaAppClipInvocationInformation(@PathParam("id") String id,
			@QueryParam("fields[betaAppClipInvocations]") List<String> fieldsBetaAppClipInvocations,
			@QueryParam("include") List<String> include,
			@QueryParam("limit[betaAppClipInvocationLocalizations]") Integer limitBetaAppClipInvocationLocalizations);
}
