package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/buildBundles/{id}")

public interface BuildBundlesApi {

	/**
	 * List All Beta App Clip Invocations for a Build Bundle
	 *
	 * Get all App Clip invocations you configure for testing for a specific build
	 * bundle.
	 *
	 */
	@GET
	@Path("/betaAppClipInvocations")
	@Produces({ "application/json" })

	public Response listBuildBundleBetaAppClipInvocations(@PathParam("id") String id,
			@QueryParam("fields[betaAppClipInvocations]") List<String> fieldsBetaAppClipInvocations,
			@QueryParam("fields[betaAppClipInvocationLocalizations]") List<String> fieldsBetaAppClipInvocationLocalizations,
			@QueryParam("limit") Integer limit,
			@QueryParam("limit[betaAppClipInvocationLocalizations]") Integer limitBetaAppClipInvocationLocalizations,
			@QueryParam("include") List<String> include);

	/**
	 * List All File Sizes for a Build Bundle
	 *
	 * Get all file sizes for a specific build bundle.
	 *
	 */
	@GET
	@Path("/buildBundleFileSizes")
	@Produces({ "application/json" })

	public Response listBuildBundleFileSizes(@PathParam("id") String id,
			@QueryParam("fields[buildBundleFileSizes]") List<String> fieldsBuildBundleFileSizes,
			@QueryParam("limit") Integer limit);

	/**
	 * Read the App Clip Domain Cache Status Information for a Build Bundle
	 *
	 * Get the cache status of the domain you associate with your App Clip for a
	 * specific build bundle.
	 *
	 */
	@GET
	@Path("/appClipDomainCacheStatus")
	@Produces({ "application/json" })

	public Response readBuildBundleAppClipDomainCacheStatus(@PathParam("id") String id,
			@QueryParam("fields[appClipDomainStatuses]") List<String> fieldsAppClipDomainStatuses);

	/**
	 * Read App Clip Domain Debug Status Information for a Build Bundle
	 *
	 * Get the debug status of the domain you associate with your App Clip for a
	 * specific build bundle.
	 *
	 */
	@GET
	@Path("/appClipDomainDebugStatus")
	@Produces({ "application/json" })

	public Response readBuildBundleAppClipDomainDebugStatus(@PathParam("id") String id,
			@QueryParam("fields[appClipDomainStatuses]") List<String> fieldsAppClipDomainStatuses);
}
