package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.BuildBetaDetailUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/buildBetaDetails")

public interface BuildBetaDetailsApi {

	/**
	 * List Build Beta Details
	 *
	 * Find and list build beta details for all builds.
	 *
	 */
	@GET

	@Produces({ "application/json" })

	public Response listBuildBetaDetails(@QueryParam("filter[build]") List<String> filterBuild,
			@QueryParam("filter[id]") List<String> filterId,
			@QueryParam("fields[buildBetaDetails]") List<String> fieldsBuildBetaDetails,
			@QueryParam("limit") Integer limit, @QueryParam("include") List<String> include,
			@QueryParam("fields[builds]") List<String> fieldsBuilds);

	/**
	 * Modify a Build Beta Detail
	 *
	 * Update beta test details for a specific build.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyBuildBetaDetails(@PathParam("id") String id,
			BuildBetaDetailUpdateRequest buildBetaDetailUpdateRequest);

	/**
	 * Read the Build Information of a Build Beta Detail
	 *
	 * Get the build information for a specific build beta details resource.
	 *
	 */
	@GET
	@Path("/{id}/build")
	@Produces({ "application/json" })

	public Response readBuildBetaDetailBuildInformation(@PathParam("id") String id,
			@QueryParam("fields[builds]") List<String> fieldsBuilds);

	/**
	 * Read Build Beta Detail Information
	 *
	 * Get a specific build beta details resource.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readBuildBetaDetailInformation(@PathParam("id") String id,
			@QueryParam("fields[buildBetaDetails]") List<String> fieldsBuildBetaDetails,
			@QueryParam("include") List<String> include, @QueryParam("fields[builds]") List<String> fieldsBuilds);
}
