package net.odyssi.asc4j.jaxrs;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.BundleIdCapabilityCreateRequest;
import net.odyssi.asc4j.model.BundleIdCapabilityUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/bundleIdCapabilities")

public interface BundleIdCapabilitiesApi {

	/**
	 * Disable a Capability
	 *
	 * Disable a capability for a bundle ID.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response disableBundleIDCapability(@PathParam("id") String id);

	/**
	 * Enable a Capability
	 *
	 * Enable a capability for a bundle ID.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response enableBundleIDCapability(BundleIdCapabilityCreateRequest bundleIdCapabilityCreateRequest);

	/**
	 * Modify a Capability Configuration
	 *
	 * Update the configuration of a specific capability.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyBundleIDCapability(@PathParam("id") String id,
			BundleIdCapabilityUpdateRequest bundleIdCapabilityUpdateRequest);
}
