package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.CertificateCreateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/certificates")

public interface CertificatesApi {

	/**
	 * Create a Certificate
	 *
	 * Create a new certificate using a certificate signing request.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createCertificate(CertificateCreateRequest certificateCreateRequest);

	/**
	 * List and Download Certificates
	 *
	 * Find and list certificates and download their data.
	 *
	 */
	@GET

	@Produces({ "application/json" })

	public Response listCertificates(@QueryParam("filter[certificateType]") List<String> filterCertificateType,
			@QueryParam("filter[displayName]") List<String> filterDisplayName,
			@QueryParam("filter[serialNumber]") List<String> filterSerialNumber,
			@QueryParam("filter[id]") List<String> filterId, @QueryParam("sort") List<String> sort,
			@QueryParam("fields[certificates]") List<String> fieldsCertificates, @QueryParam("limit") Integer limit);

	/**
	 * Read and Download Certificate Information
	 *
	 * Get information about a certificate and download the certificate data.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readCertificateInformation(@PathParam("id") String id,
			@QueryParam("fields[certificates]") List<String> fieldsCertificates);

	/**
	 * Revoke a Certificate
	 *
	 * Revoke a lost, stolen, compromised, or expiring signing certificate.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response revokeCertificate(@PathParam("id") String id);
}
