package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/ciMacOsVersions")

public interface CiMacOsVersionsApi {

	@GET

	@Produces({ "application/json" })

	public Response ciMacOsVersionsGetCollection(
			@QueryParam("fields[ciMacOsVersions]") List<String> fieldsCiMacOsVersions,
			@QueryParam("limit") Integer limit, @QueryParam("include") List<String> include,
			@QueryParam("fields[ciXcodeVersions]") List<String> fieldsCiXcodeVersions,
			@QueryParam("limit[xcodeVersions]") Integer limitXcodeVersions);

	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response ciMacOsVersionsGetInstance(@PathParam("id") String id,
			@QueryParam("fields[ciMacOsVersions]") List<String> fieldsCiMacOsVersions,
			@QueryParam("include") List<String> include,
			@QueryParam("fields[ciXcodeVersions]") List<String> fieldsCiXcodeVersions,
			@QueryParam("limit[xcodeVersions]") Integer limitXcodeVersions);

	@GET
	@Path("/{id}/xcodeVersions")
	@Produces({ "application/json" })

	public Response ciMacOsVersionsXcodeVersionsGetToManyRelated(@PathParam("id") String id,
			@QueryParam("fields[ciXcodeVersions]") List<String> fieldsCiXcodeVersions,
			@QueryParam("fields[ciMacOsVersions]") List<String> fieldsCiMacOsVersions,
			@QueryParam("limit") Integer limit, @QueryParam("limit[macOsVersions]") Integer limitMacOsVersions,
			@QueryParam("include") List<String> include);
}
