package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.DeviceCreateRequest;
import net.odyssi.asc4j.model.DeviceUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/devices")

public interface DevicesApi {

	/**
	 * List Devices
	 *
	 * Find and list devices registered to your team.
	 *
	 */
	@GET

	@Produces({ "application/json" })

	public Response listDevices(@QueryParam("filter[name]") List<String> filterName,
			@QueryParam("filter[platform]") List<String> filterPlatform,
			@QueryParam("filter[status]") List<String> filterStatus,
			@QueryParam("filter[udid]") List<String> filterUdid, @QueryParam("filter[id]") List<String> filterId,
			@QueryParam("sort") List<String> sort, @QueryParam("fields[devices]") List<String> fieldsDevices,
			@QueryParam("limit") Integer limit);

	/**
	 * Modify a Registered Device
	 *
	 * Update the name or status of a specific device.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyRegisteredDevice(@PathParam("id") String id, DeviceUpdateRequest deviceUpdateRequest);

	/**
	 * Read Device Information
	 *
	 * Get information for a specific device registered to your team.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readDeviceInformation(@PathParam("id") String id,
			@QueryParam("fields[devices]") List<String> fieldsDevices);

	/**
	 * Register a New Device
	 *
	 * Register a new device for app development.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response registerDevice(DeviceCreateRequest deviceCreateRequest);
}
