package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.EndUserLicenseAgreementCreateRequest;
import net.odyssi.asc4j.model.EndUserLicenseAgreementUpdateRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/endUserLicenseAgreements")

public interface EndUserLicenseAgreementsApi {

	/**
	 * Create an End User License Agreement
	 *
	 * Add a custom end user license agreement (EULA) to an app and configure the
	 * territories to which it applies.
	 *
	 */
	@POST

	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response createEndUserLicenseAgreement(
			EndUserLicenseAgreementCreateRequest endUserLicenseAgreementCreateRequest);

	/**
	 * Delete an End User License Agreement
	 *
	 * Delete the custom end user license agreement that is associated with an app.
	 *
	 */
	@DELETE
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response deleteEndUserLicenseAgreement(@PathParam("id") String id);

	/**
	 * List All Territories for an End User License Agreement
	 *
	 * List all the App Store territories to which a specific custom app license
	 * agreement applies.
	 *
	 */
	@GET
	@Path("/{id}/territories")
	@Produces({ "application/json" })

	public Response listEndUserLicenseAgreementTerritories(@PathParam("id") String id,
			@QueryParam("fields[territories]") List<String> fieldsTerritories, @QueryParam("limit") Integer limit);

	/**
	 * Modify an End User License Agreement
	 *
	 * Update the text or territories for your custom end user license agreement.
	 *
	 */
	@PATCH
	@Path("/{id}")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response modifyEndUserLicenseAgreement(@PathParam("id") String id,
			EndUserLicenseAgreementUpdateRequest endUserLicenseAgreementUpdateRequest);

	/**
	 * Read End User License Agreement Information
	 *
	 * Get the custom end user license agreement associated with an app, and the
	 * territories it applies to.
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({ "application/json" })

	public Response readEndUserLicenseAgreementInformation(@PathParam("id") String id,
			@QueryParam("fields[endUserLicenseAgreements]") List<String> fieldsEndUserLicenseAgreements,
			@QueryParam("include") List<String> include,
			@QueryParam("fields[territories]") List<String> fieldsTerritories,
			@QueryParam("limit[territories]") Integer limitTerritories);
}
