package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.PATCH;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

import net.odyssi.asc4j.model.GameCenterEnabledVersionCompatibleVersionsLinkagesRequest;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/gameCenterEnabledVersions/{id}")

public interface GameCenterEnabledVersionsApi {

	/**
	 * Add Compatible Versions to a Game Center Enabled Version
	 *
	 */
	@POST
	@Path("/relationships/compatibleVersions")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response addGameCenterEnabledVersionCompatibleVersion(@PathParam("id") String id,
			GameCenterEnabledVersionCompatibleVersionsLinkagesRequest gameCenterEnabledVersionCompatibleVersionsLinkagesRequest);

	/**
	 * Get All Compatible Version IDs for a Game Center Enabled Version
	 *
	 */
	@GET
	@Path("/relationships/compatibleVersions")
	@Produces({ "application/json" })

	public Response getGameCenterEnabledVersionCompatibleVersionIDs(@PathParam("id") String id,
			@QueryParam("limit") Integer limit);

	/**
	 * List All Compatible Versions for a Game Center Enabled Version
	 *
	 */
	@GET
	@Path("/compatibleVersions")
	@Produces({ "application/json" })

	public Response listGameCenterEnabledVersionCompatibleVersions(@PathParam("id") String id,
			@QueryParam("filter[platform]") List<String> filterPlatform,
			@QueryParam("filter[versionString]") List<String> filterVersionString,
			@QueryParam("filter[app]") List<String> filterApp, @QueryParam("filter[id]") List<String> filterId,
			@QueryParam("sort") List<String> sort,
			@QueryParam("fields[gameCenterEnabledVersions]") List<String> fieldsGameCenterEnabledVersions,
			@QueryParam("fields[apps]") List<String> fieldsApps, @QueryParam("limit") Integer limit,
			@QueryParam("limit[compatibleVersions]") Integer limitCompatibleVersions,
			@QueryParam("include") List<String> include);

	/**
	 * Remove Compatible Versions from a Game Center Enabled Version
	 *
	 */
	@DELETE
	@Path("/relationships/compatibleVersions")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response removeGameCenterEnabledVersionCompatibleVersions(@PathParam("id") String id,
			GameCenterEnabledVersionCompatibleVersionsLinkagesRequest gameCenterEnabledVersionCompatibleVersionsLinkagesRequest);

	/**
	 * Replace All Compatible Versions for a Game Center Enabled Version
	 *
	 */
	@PATCH
	@Path("/relationships/compatibleVersions")
	@Consumes({ "application/json" })
	@Produces({ "application/json" })

	public Response updateGameCenterEnabledVersionCompatibleVersions(@PathParam("id") String id,
			GameCenterEnabledVersionCompatibleVersionsLinkagesRequest gameCenterEnabledVersionCompatibleVersionsLinkagesRequest);
}
