package net.odyssi.asc4j.jaxrs;

import java.util.List;

import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;
import javax.ws.rs.core.Response;

/**
 * App Store Connect API (Enhanced)
 *
 * <p>
 * No description provided (generated by Openapi Generator
 * https://github.com/openapitools/openapi-generator)
 *
 */
@Path("/v1/salesReports")

public interface SalesReportsApi {

	/**
	 * Download Sales and Trends Reports
	 *
	 * Download sales and trends reports filtered by your specified criteria.
	 *
	 */
	@GET

	@Produces({ "application/a-gzip", "application/json" })

	public Response downloadSalesAndTrendsReports(@QueryParam("filter[frequency]") List<String> filterFrequency,
			@QueryParam("filter[reportSubType]") List<String> filterReportSubType,
			@QueryParam("filter[reportType]") List<String> filterReportType,
			@QueryParam("filter[vendorNumber]") List<String> filterVendorNumber,
			@QueryParam("filter[reportDate]") List<String> filterReportDate,
			@QueryParam("filter[version]") List<String> filterVersion);
}
