{
    "openapi": "3.0.1",
    "info": {
        "title": "App Store Connect API (Baseline)",
        "version": "1.8",
        "x-platform": "app_store_connect_api"
    },
    "servers": [
        {
            "url": "https://api.appstoreconnect.apple.com/"
        }
    ],
    "paths": {
        "/v1/ageRatingDeclarations/{id}": {
            "patch": {
                "requestBody": {
                    "description": "AgeRatingDeclaration representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgeRatingDeclarationUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AgeRatingDeclarations"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgeRatingDeclarationResponse"
                                }
                            }
                        },
                        "description": "Single AgeRatingDeclaration"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "ageRatingDeclarations-update_instance"
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appCategories": {
            "get": {
                "tags": [
                    "AppCategories"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "filter[platforms]",
                        "description": "filter by attribute 'platforms'",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "IOS",
                                    "MAC_OS",
                                    "TV_OS"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "exists[parent]",
                        "description": "filter by existence or non-existence of related 'parent'",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appCategories]",
                        "description": "the fields to include for returned resources of type appCategories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "parent",
                                    "platforms",
                                    "subcategories"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit",
                        "description": "maximum resources per page",
                        "schema": {
                            "maximum": 200,
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "parent",
                                    "subcategories"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit[subcategories]",
                        "description": "maximum number of related subcategories returned (when they are included)",
                        "schema": {
                            "maximum": 50,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppCategoriesResponse"
                                }
                            }
                        },
                        "description": "List of AppCategories"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    }
                },
                "operationId": "appCategories-get_collection"
            }
        },
        "/v1/appCategories/{id}": {
            "get": {
                "tags": [
                    "AppCategories"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appCategories]",
                        "description": "the fields to include for returned resources of type appCategories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "parent",
                                    "platforms",
                                    "subcategories"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "parent",
                                    "subcategories"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit[subcategories]",
                        "description": "maximum number of related subcategories returned (when they are included)",
                        "schema": {
                            "maximum": 50,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppCategoryResponse"
                                }
                            }
                        },
                        "description": "Single AppCategory"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "appCategories-get_instance"
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appClipAdvancedExperienceImages": {
            "post": {
                "requestBody": {
                    "description": "AppClipAdvancedExperienceImage representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipAdvancedExperienceImageCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipAdvancedExperienceImages"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipAdvancedExperienceImageResponse"
                                }
                            }
                        },
                        "description": "Single AppClipAdvancedExperienceImage"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipAdvancedExperienceImages-create_instance"
            }
        },
        "/v1/appClipAdvancedExperienceImages/{id}": {
            "get": {
                "tags": [
                    "AppClipAdvancedExperienceImages"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClipAdvancedExperienceImages]",
                        "description": "the fields to include for returned resources of type appClipAdvancedExperienceImages",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "assetDeliveryState",
                                    "fileName",
                                    "fileSize",
                                    "imageAsset",
                                    "sourceFileChecksum",
                                    "uploadOperations",
                                    "uploaded"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipAdvancedExperienceImageResponse"
                                }
                            }
                        },
                        "description": "Single AppClipAdvancedExperienceImage"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "appClipAdvancedExperienceImages-get_instance"
            },
            "patch": {
                "requestBody": {
                    "description": "AppClipAdvancedExperienceImage representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipAdvancedExperienceImageUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipAdvancedExperienceImages"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipAdvancedExperienceImageResponse"
                                }
                            }
                        },
                        "description": "Single AppClipAdvancedExperienceImage"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipAdvancedExperienceImages-update_instance"
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appClipAdvancedExperiences": {
            "post": {
                "requestBody": {
                    "description": "AppClipAdvancedExperience representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipAdvancedExperienceCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipAdvancedExperiences"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipAdvancedExperienceResponse"
                                }
                            }
                        },
                        "description": "Single AppClipAdvancedExperience"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipAdvancedExperiences-create_instance"
            }
        },
        "/v1/appClipAdvancedExperiences/{id}": {
            "get": {
                "tags": [
                    "AppClipAdvancedExperiences"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClipAdvancedExperiences]",
                        "description": "the fields to include for returned resources of type appClipAdvancedExperiences",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "action",
                                    "appClip",
                                    "businessCategory",
                                    "defaultLanguage",
                                    "headerImage",
                                    "isPoweredBy",
                                    "link",
                                    "localizations",
                                    "place",
                                    "placeStatus",
                                    "removed",
                                    "status",
                                    "version"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appClip",
                                    "headerImage",
                                    "localizations"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit[localizations]",
                        "description": "maximum number of related localizations returned (when they are included)",
                        "schema": {
                            "maximum": 50,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipAdvancedExperienceResponse"
                                }
                            }
                        },
                        "description": "Single AppClipAdvancedExperience"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "appClipAdvancedExperiences-get_instance"
            },
            "patch": {
                "requestBody": {
                    "description": "AppClipAdvancedExperience representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipAdvancedExperienceUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipAdvancedExperiences"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipAdvancedExperienceResponse"
                                }
                            }
                        },
                        "description": "Single AppClipAdvancedExperience"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipAdvancedExperiences-update_instance"
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appClipAppStoreReviewDetails": {
            "post": {
                "requestBody": {
                    "description": "AppClipAppStoreReviewDetail representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipAppStoreReviewDetailCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipAppStoreReviewDetails"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipAppStoreReviewDetailResponse"
                                }
                            }
                        },
                        "description": "Single AppClipAppStoreReviewDetail"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipAppStoreReviewDetails-create_instance"
            }
        },
        "/v1/appClipAppStoreReviewDetails/{id}": {
            "get": {
                "tags": [
                    "AppClipAppStoreReviewDetails"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClipAppStoreReviewDetails]",
                        "description": "the fields to include for returned resources of type appClipAppStoreReviewDetails",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appClipDefaultExperience",
                                    "invocationUrls"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appClipDefaultExperience"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipAppStoreReviewDetailResponse"
                                }
                            }
                        },
                        "description": "Single AppClipAppStoreReviewDetail"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "appClipAppStoreReviewDetails-get_instance"
            },
            "patch": {
                "requestBody": {
                    "description": "AppClipAppStoreReviewDetail representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipAppStoreReviewDetailUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipAppStoreReviewDetails"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipAppStoreReviewDetailResponse"
                                }
                            }
                        },
                        "description": "Single AppClipAppStoreReviewDetail"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipAppStoreReviewDetails-update_instance"
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appClipDefaultExperienceLocalizations": {
            "post": {
                "requestBody": {
                    "description": "AppClipDefaultExperienceLocalization representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipDefaultExperienceLocalizationCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipDefaultExperienceLocalizations"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipDefaultExperienceLocalizationResponse"
                                }
                            }
                        },
                        "description": "Single AppClipDefaultExperienceLocalization"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipDefaultExperienceLocalizations-create_instance"
            }
        },
        "/v1/appClipDefaultExperienceLocalizations/{id}": {
            "get": {
                "tags": [
                    "AppClipDefaultExperienceLocalizations"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClipDefaultExperienceLocalizations]",
                        "description": "the fields to include for returned resources of type appClipDefaultExperienceLocalizations",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appClipDefaultExperience",
                                    "appClipHeaderImage",
                                    "locale",
                                    "subtitle"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appClipDefaultExperience",
                                    "appClipHeaderImage"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClipHeaderImages]",
                        "description": "the fields to include for returned resources of type appClipHeaderImages",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appClipDefaultExperienceLocalization",
                                    "assetDeliveryState",
                                    "fileName",
                                    "fileSize",
                                    "imageAsset",
                                    "sourceFileChecksum",
                                    "uploadOperations",
                                    "uploaded"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipDefaultExperienceLocalizationResponse"
                                }
                            }
                        },
                        "description": "Single AppClipDefaultExperienceLocalization"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "appClipDefaultExperienceLocalizations-get_instance"
            },
            "delete": {
                "tags": [
                    "AppClipDefaultExperienceLocalizations"
                ],
                "responses": {
                    "204": {
                        "description": "Success (no content)"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipDefaultExperienceLocalizations-delete_instance"
            },
            "patch": {
                "requestBody": {
                    "description": "AppClipDefaultExperienceLocalization representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipDefaultExperienceLocalizationUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipDefaultExperienceLocalizations"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipDefaultExperienceLocalizationResponse"
                                }
                            }
                        },
                        "description": "Single AppClipDefaultExperienceLocalization"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipDefaultExperienceLocalizations-update_instance"
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appClipDefaultExperiences": {
            "post": {
                "requestBody": {
                    "description": "AppClipDefaultExperience representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipDefaultExperienceCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipDefaultExperiences"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipDefaultExperienceResponse"
                                }
                            }
                        },
                        "description": "Single AppClipDefaultExperience"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipDefaultExperiences-create_instance"
            }
        },
        "/v1/appClipDefaultExperiences/{id}": {
            "get": {
                "tags": [
                    "AppClipDefaultExperiences"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClipDefaultExperiences]",
                        "description": "the fields to include for returned resources of type appClipDefaultExperiences",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "action",
                                    "appClip",
                                    "appClipAppStoreReviewDetail",
                                    "appClipDefaultExperienceLocalizations",
                                    "appClipDefaultExperienceTemplate",
                                    "releaseWithAppStoreVersion"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appClip",
                                    "appClipAppStoreReviewDetail",
                                    "appClipDefaultExperienceLocalizations",
                                    "releaseWithAppStoreVersion"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClipAppStoreReviewDetails]",
                        "description": "the fields to include for returned resources of type appClipAppStoreReviewDetails",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appClipDefaultExperience",
                                    "invocationUrls"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appStoreVersions]",
                        "description": "the fields to include for returned resources of type appStoreVersions",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "ageRatingDeclaration",
                                    "app",
                                    "appClipDefaultExperience",
                                    "appStoreReviewDetail",
                                    "appStoreState",
                                    "appStoreVersionExperiments",
                                    "appStoreVersionLocalizations",
                                    "appStoreVersionPhasedRelease",
                                    "appStoreVersionSubmission",
                                    "build",
                                    "copyright",
                                    "createdDate",
                                    "downloadable",
                                    "earliestReleaseDate",
                                    "idfaDeclaration",
                                    "platform",
                                    "releaseType",
                                    "routingAppCoverage",
                                    "usesIdfa",
                                    "versionString"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClipDefaultExperienceLocalizations]",
                        "description": "the fields to include for returned resources of type appClipDefaultExperienceLocalizations",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appClipDefaultExperience",
                                    "appClipHeaderImage",
                                    "locale",
                                    "subtitle"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit[appClipDefaultExperienceLocalizations]",
                        "description": "maximum number of related appClipDefaultExperienceLocalizations returned (when they are included)",
                        "schema": {
                            "maximum": 50,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipDefaultExperienceResponse"
                                }
                            }
                        },
                        "description": "Single AppClipDefaultExperience"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "appClipDefaultExperiences-get_instance"
            },
            "delete": {
                "tags": [
                    "AppClipDefaultExperiences"
                ],
                "responses": {
                    "204": {
                        "description": "Success (no content)"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipDefaultExperiences-delete_instance"
            },
            "patch": {
                "requestBody": {
                    "description": "AppClipDefaultExperience representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipDefaultExperienceUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipDefaultExperiences"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipDefaultExperienceResponse"
                                }
                            }
                        },
                        "description": "Single AppClipDefaultExperience"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipDefaultExperiences-update_instance"
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appClipHeaderImages": {
            "post": {
                "requestBody": {
                    "description": "AppClipHeaderImage representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipHeaderImageCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipHeaderImages"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipHeaderImageResponse"
                                }
                            }
                        },
                        "description": "Single AppClipHeaderImage"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipHeaderImages-create_instance"
            }
        },
        "/v1/appClipHeaderImages/{id}": {
            "get": {
                "tags": [
                    "AppClipHeaderImages"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClipHeaderImages]",
                        "description": "the fields to include for returned resources of type appClipHeaderImages",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appClipDefaultExperienceLocalization",
                                    "assetDeliveryState",
                                    "fileName",
                                    "fileSize",
                                    "imageAsset",
                                    "sourceFileChecksum",
                                    "uploadOperations",
                                    "uploaded"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appClipDefaultExperienceLocalization"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipHeaderImageResponse"
                                }
                            }
                        },
                        "description": "Single AppClipHeaderImage"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "appClipHeaderImages-get_instance"
            },
            "delete": {
                "tags": [
                    "AppClipHeaderImages"
                ],
                "responses": {
                    "204": {
                        "description": "Success (no content)"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipHeaderImages-delete_instance"
            },
            "patch": {
                "requestBody": {
                    "description": "AppClipHeaderImage representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppClipHeaderImageUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppClipHeaderImages"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipHeaderImageResponse"
                                }
                            }
                        },
                        "description": "Single AppClipHeaderImage"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appClipHeaderImages-update_instance"
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appClips/{id}": {
            "get": {
                "tags": [
                    "AppClips"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClips]",
                        "description": "the fields to include for returned resources of type appClips",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "app",
                                    "appClipAdvancedExperiences",
                                    "appClipDefaultExperiences",
                                    "bundleId"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "app",
                                    "appClipDefaultExperiences"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClipAdvancedExperiences]",
                        "description": "the fields to include for returned resources of type appClipAdvancedExperiences",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "action",
                                    "appClip",
                                    "businessCategory",
                                    "defaultLanguage",
                                    "headerImage",
                                    "isPoweredBy",
                                    "link",
                                    "localizations",
                                    "place",
                                    "placeStatus",
                                    "removed",
                                    "status",
                                    "version"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appClipDefaultExperiences]",
                        "description": "the fields to include for returned resources of type appClipDefaultExperiences",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "action",
                                    "appClip",
                                    "appClipAppStoreReviewDetail",
                                    "appClipDefaultExperienceLocalizations",
                                    "appClipDefaultExperienceTemplate",
                                    "releaseWithAppStoreVersion"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit[appClipDefaultExperiences]",
                        "description": "maximum number of related appClipDefaultExperiences returned (when they are included)",
                        "schema": {
                            "maximum": 50,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppClipResponse"
                                }
                            }
                        },
                        "description": "Single AppClip"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "appClips-get_instance"
            },
            "parameters": [
                {
                    "style": "simple",
                    "name": "id",
                    "description": "the id of the requested resource",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/v1/appCustomProductPageLocalizations": {
            "post": {
                "requestBody": {
                    "description": "AppCustomProductPageLocalization representation",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AppCustomProductPageLocalizationCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "AppCustomProductPageLocalizations"
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppCustomProductPageLocalizationResponse"
                                }
                            }
                        },
                        "description": "Single AppCustomProductPageLocalization"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Request entity error(s)"
                    }
                },
                "operationId": "appCustomProductPageLocalizations-create_instance"
            }
        },
        "/v1/appCustomProductPageLocalizations/{id}": {
            "get": {
                "tags": [
                    "AppCustomProductPageLocalizations"
                ],
                "parameters": [
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appCustomProductPageLocalizations]",
                        "description": "the fields to include for returned resources of type appCustomProductPageLocalizations",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appCustomProductPageVersion",
                                    "appPreviewSets",
                                    "appScreenshotSets",
                                    "locale",
                                    "promotionalText"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "include",
                        "description": "comma-separated list of relationships to include",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appCustomProductPageVersion",
                                    "appPreviewSets",
                                    "appScreenshotSets"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appScreenshotSets]",
                        "description": "the fields to include for returned resources of type appScreenshotSets",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appCustomProductPageLocalization",
                                    "appScreenshots",
                                    "appStoreVersionExperimentTreatmentLocalization",
                                    "appStoreVersionLocalization",
                                    "screenshotDisplayType"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "explode": false,
                        "name": "fields[appPreviewSets]",
                        "description": "the fields to include for returned resources of type appPreviewSets",
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "appCustomProductPageLocalization",
                                    "appPreviews",
                                    "appStoreVersionExperimentTreatmentLocalization",
                                    "appStoreVersionLocalization",
                                    "previewType"
                                ],
                                "type": "string"
                            }
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit[appPreviewSets]",
                        "description": "maximum number of related appPreviewSets returned (when they are included)",
                        "schema": {
                            "maximum": 50,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "style": "form",
                        "name": "limit[appScreenshotSets]",
                        "description": "maximum number of related appScreenshotSets returned (when they are included)",
                        "schema": {
                            "maximum": 50,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppCustomProductPageLocalizationResponse"
                                }
                            }
                        },
                        "description": "Single AppCustomProductPageLocalization"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    }
                },
                "operationId": "appCustomProductPageLocalizations-get_instance"
            },
            "delete": {
                "tags": [
                    "AppCustomProductPageLocalizations"
                ],
                "responses": {
                    "204": {
                        "description": "Success (no content)"
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Parameter error(s)"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Forbidden error"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        },
                        "description": "Not found error"
                    },
[...]
